.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container > * {
	margin-bottom: 10px;
}

.header {
	margin-bottom: 30px;
}

.userInput {
	padding: 10px;
	width: 50%;
}

/* Общие стили для формы */
form {
	max-width: 400px;
	margin: auto;
	padding: 2rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для инпутов */
input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 3px;
}

/* Стили для ошибки */
p {
	color: red;
	margin-bottom: 1rem;
}

/* Стили для кнопок */
.homeBtn {
	width: 100%;
	background-color: #d1512d;
	padding: 10px;
	border: none;
	outline: none;
	color: #eae3d2;
	cursor: pointer;
	margin-bottom: 1rem;
}

.homeBtn:hover {
	background-color: rgb(129, 201, 129);
}

/* Контейнер для горизонтального размещения кнопок */
.buttonContainer {
	display: flex;
	gap: 1rem;
	justify-content: center; /* Центрирование кнопок */
	margin-top: 1rem;
}

/* Медиа-запросы для планшетов и мобильных устройств */
@media (max-width: 768px) {
	.form {
		padding: 1rem;
	}

	.input {
		padding: 0.5rem;
	}

	.homeBtn {
		padding: 0.5rem;
	}

	.buttonContainer {
		flex-direction: column;
		gap: 0.5rem;
	}
}

@media (max-width: 480px) {
	.form {
		padding: 0.5rem;
	}

	.input {
		padding: 0.25rem;
	}

	.homeBtn {
		padding: 0.25rem;
	}

	.buttonContainer {
		flex-direction: column;
		gap: 0.25rem;
	}
}

/* Добавьте эти стили для кнопки "Забыли пароль?" */
.forgotBtn {
	background: none;
	border: none;
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	margin-top: 1rem;
}

.forgotBtn:hover {
	color: darkblue;
}
