.messageBlock {
	padding: 20px;
	height: auto; /* Исправлено для динамического размера */
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column; /* Поля располагаются вертикально */
	gap: 10px; /* Отступы между элементами */
}

.input {
	width: 100%; /* Поля занимают всю ширину контейнера */
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 10px;
}

.messageInput {
	height: 50px; /* Высота увеличена для поля сообщения (примерно в 3 раза больше других полей) */
}

.userMessage {
	width: 80%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid #ddd;
	outline: none;
	padding: 15px;
}

.btn {
	width: 150px;
	background-color: green;
	padding: 10px;
	border: none;
	outline: none;
	color: #eae3d2;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(129, 201, 129);
}

.btnCancel {
	background-color: red;
}

.preview {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.preview h3 {
	margin-top: 0;
}

.preview button {
	margin-top: 10px;
}
